.react-calendar {
  background: #1e1e1e;
  color: white;
  border-radius: 10px;
  border: 1px solid #444;
  padding: 10px;
}

.react-calendar__tile {
  color: white;
}

.react-calendar__tile--active {
  background: #00ffcc !important;
  color: black !important;
}

.react-calendar__navigation button {
  color: white;
}

.react-calendar__month-view__days__day--weekend {
  color: #ff6666;
}
